[2014-12-04 21:21] ZAYEC77 opened #1 "Create usage examples"
Please, add usage examples to README

[2015-01-07 17:44] irekbar opened #2 "DataTableAction.php bug"
Order by not work correctly.
Error line: $actionQuery->addOrderBy([$columns[$key]['data'] => $sort]);
After correction: $actionQuery->addOrderBy([$columns[$item['column']]['data'] => $sort]);

[2015-01-08 13:06] ZAYEC77 commented on #2
@irekbar, can you give an example of using a widget?

[2015-01-08 13:19] irekbar commented on #2
Example of use:

[code]
1. In View file add:

[code]

[2015-01-08 13:48] ZAYEC77 commented on #2
@irekbar, thanks

[2015-01-08 13:48] #2 closed, assigned to nobody

[2015-01-11 01:07] irekbar opened #3 "Search improvment"
DataTableAction, line:

[code]

empty AND condition is created when original query is empty, and finally it generate SQL error.
I changed it to:

[code]

[2015-01-11 11:46] ZAYEC77 commented on #3
@irekbar, what is value of `$originalQuery->where` in your case?
I don't get error when set empty string, `null` or `false` in `$originalQuery->where`
Do you use last stable version of framework?

[2015-01-14 08:44] #1 closed, assigned to serhiivinichuk

[2015-01-14 08:45] serhiivinichuk commented on #3
Fixed.

[2015-01-14 08:45] #3 closed, assigned to nobody

[2015-03-06 14:05] salaros opened #5 "There is no possibility to control sDom feature of jQuery DataTable"

[2015-03-06 14:08] salaros opened #6 "columnsDef DataTable option doesn't work"
It seems that the variable responsible of columnsDef option control has been defined, but it is not considered while iterating table features and options

[2015-03-06 14:42] serhiivinichuk commented on #5
It seems that `sDom` property is deprecated since v1.10 of DataTable. Instead you should use `dom` property.
[Property description](http://datatables.net/reference/option/dom)
[DOM positioning Example](http://datatables.net/examples/basic_init/dom.html)

[2015-06-02 12:32] nadrianm opened #8 "Tabletool Extension"
Hello budy, I'm working with DataTables in a Yii2 Advanced Application, and I was wondering If I could integrate TableTools Extension with your plug-in. Do you know how to do it? If there is another way to do data export (PDF, CSV, ...) I will be grateful if you give me an example.

Here is the extension doc. https://www.datatables.net/extensions/tabletools/

I'm looking forward to hearing from yo

[2015-06-03 11:24] ZAYEC77 commented on #8
Hello, can You call widget with necessary parameters?
E.g:

[code]

[2015-07-06 10:05] serhiivinichuk opened #9 "Tag a stable realese"

[2015-07-07 08:44] #9 closed, assigned to serhiivinichuk

[2015-07-07 08:45] #5 closed, assigned to nobody

[2015-07-07 08:45] #6 closed, assigned to nobody

[2015-10-27 22:49] flaviofagundes opened #10 "paging problem"
Guys

the pagination always shows the number one and the button next page doesn't work with option 'serverSide' => true.

[2015-10-27 23:57] flaviofagundes opened #11 "LinkColumn duplicated"?" at url link"
At the class LinkColumn,

line 39

[code]

My suggestion

[code]

[2015-10-28 00:17] ZAYEC77 commented on #11
@flaviofagundes nice suggestion

[2015-10-28 00:20] flaviofagundes commented on #11
Tnx @ZAYEC77 ...

The other issue about pagination really worry me a lot.

[2015-10-28 01:44] ZAYEC77 commented on #10
@flaviofagundes thank for issue, I try to fix it, please check it on your case

[2015-10-28 02:02] #11 closed, assigned to nobody

[2015-10-28 02:09] flaviofagundes commented on #10
Wow!
Now is working!

So fast and efficient!
This is the power of community of open source!
Thanks a lot

[2015-10-28 02:12] ZAYEC77 commented on #10
@flaviofagundes you're welcome)

[2015-10-28 02:41] flaviofagundes opened #12 "Problem with Styling"
Hi Guys

Just style type that works is the STYLING_DEFAULT.

When i try use another, the layout shows  broken.

Here how i tryed input the configuration at config.php

[code]

[2015-10-28 03:07] #10 closed, assigned to nobody

[2015-10-28 03:07] ZAYEC77 commented on #12
@flaviofagundes can You check this bug on native plugin (without yii wrapper)?
BS assets included but don't work. Maybe problem was not yii widget

[2015-10-28 03:24] ZAYEC77 commented on #12
@flaviofagundes in BS case I try to fix it to add `tableOptions` in widget call:

[code]

[2015-10-30 01:37] flaviofagundes opened #13 "retrieving relations with datatable"
Which option has used to retrieve models relations to datatable?

How this:
Post hasOne Author

$model = Post::find()->all();
$model->author->getFullName();

How do it using this widget to datatables?

[2015-10-30 08:11] ZAYEC77 commented on #13
Very simple but not very good implementation it's to create special getter in post model e.g:

[code]

[2015-10-30 13:28] flaviofagundes commented on #13
Ok, but how i do put this with parameter at widget call?

[2015-10-30 13:32] ZAYEC77 commented on #13
@flaviofagundes you can use field `authorFullName` (in this case)

[2015-11-01 20:50] #12 closed, assigned to nobody

[2015-11-02 00:19] flaviofagundes commented on #13
So... may you give me a sample?

I had tried

[code]

in my User model, i used for test

[code]

[2015-11-02 08:17] ZAYEC77 commented on #13
view:

[code]

model:

[code]

[2015-11-02 16:10] flaviofagundes commented on #13
it works but i can order by this column.

[2015-11-03 10:16] flaviofagundes commented on #13
perhaps the better way could be change de method find() used at the action datatables by another with findBySql.

The performance should be better.

[2015-11-03 10:48] ZAYEC77 commented on #13
@flaviofagundes maybe, in you case it will be better

[2015-11-10 00:48] flaviofagundes commented on #13
@ZAYEC77 i'm trying use a method findBySQL, but order columns   and the search don't work

Any suggestion?

[code]

[2015-11-10 09:58] ZAYEC77 commented on #13
@flaviofagundes thank you for feedback. I think, when you use findBySql, this method set sql to `query`, and after that you can't modify `query` by method like `order` or `where`.
Maybe I'm wrong, I will investigate this question.

[2015-11-10 12:31] flaviofagundes commented on #13
@ZAYEC77 thanks for your help.

this issue is the last item to use the datatables for my  datagrid application :)

[2016-02-11 05:48] phpdev4 opened #14 "Pagination not working"
Pagination not working

[2016-02-13 02:47] ZAYEC77 commented on #14
@phpdev4 hello, can you give more information about your case?

[2016-02-13 08:48] odat opened #15 "Server side issue"
hello,
when i use serverside i get this error message

Exception 'yii\base\InvalidParamException' with message 'Response content must not be an array.'

[code]

[2016-02-14 14:48] ZAYEC77 commented on #15
Hello, by what action did You get this error?

[2016-02-15 07:30] SigalZ opened #16 "Getting: No matching records found when data is returned"
Hello,

I am new to yii.

I am trying to use this widget with no success.

My view has this code:
`<?= \nullref\datatable\DataTable::widget([
            'columns' => [
                'invoice_discount_report__debtor__name',
                'invoices',
                'amount',
                'amount_paid',
                'discount_applied'
            ],
            'serverSide' => true,

[2016-02-15 07:49] ZAYEC77 commented on #16
@SigalZ  hello, it seems You chose wrong way.
You don't have to create js yourself, widget create it itself.

[2016-02-15 07:52] ZAYEC77 commented on #16
Only things that You have to do are:
- call widget
- to declare action in controller

[2016-02-15 08:48] SigalZ commented on #16
Hello @ZAYEC77,
Thank you for the quick reply. I removed the js code but still get no matching records found.

View (I removed the table markup):
`<?= \nullref\datatable\DataTable::widget([
            'columns' => [ 'invoice_discount_report__debtor__name',
                'invoices',
                'amount',
                'amount_paid',
                'discount_applied' ],
            'server

[2016-02-15 09:44] odat commented on #15
sorry it work now, please if you can reach the documentation with examples
Thanks

[2016-02-15 11:07] ZAYEC77 commented on #15
What kind of examples do You want?

[2016-02-15 11:09] ZAYEC77 commented on #16
You can use action from this package
Please, look  the examples in docs

[2016-02-15 11:15] ZAYEC77 commented on #16
This array must be in method `actions` in controller

[2016-02-15 11:37] SigalZ commented on #16
I did look at your examples, and I am using an action: ( 'ajax' => '/api/dashboard/getinvoices')
`<?= \nullref\datatable\DataTable::widget([
            'assetManager' => [
                'bundles' => [
                    'nullref\datatable\DataTableAsset' => [
                    'styling' => '\nullref\datatable\DataTableAsset::STYLING_BOOTSTRAP'
                    ]
                ],

[2016-02-15 11:58] ZAYEC77 commented on #16
You have to use `nullref\datatable\DataTableAction` or extend it.
Action has to return data, but your action return config of another action (it's wrong).
If you want to give more help, you can contact with me by email.

[2016-02-15 14:18] odat commented on #15
for example how use relations of columns

[2016-02-18 04:00] byusufw opened #17 "formatter"
how do i apply formatter for a spesific collumn? in example I want to format date or number from the retrieved data

thanks for response

[2016-02-18 18:39] ZAYEC77 commented on #17
Hello, do you want to use server-side?

[2016-02-19 10:22] byusufw commented on #17
yes I do

[2016-04-07 11:49] dinastia opened #18 "get cell value"
Hi ZAYEC77,

Congratulations for this great extension.

I need your help, to get cell value after have selected a datatable row. How could i identify a cell to get this value later.

Thanks for all,

Alexandre

[2016-04-07 12:08] ZAYEC77 commented on #18
Hello, can you send more details about your problem?
Maybe get some examples of code

[2016-04-29 13:26] alladas opened #19 "Ordering and filtering sample"
Hello Guys,
I am looking for an example of custom ordering  and filtering logic with a 'serverSide' option enabled?
That will be great to get a sample of a working sample.
@ZAYEC77 Bravo. Seems great.
In advance thanks.

[2016-04-29 15:33] ZAYEC77 commented on #19
@alladas Hello, try to do it ASAP.

[2016-04-29 16:03] alladas commented on #19
@ZAYEC77 Many thanks to you.
I gave it a try using actions as you provided in my model but it is not working.

[2016-05-04 11:47] alladas opened #20 "ServerSide with paging"
Hello @ZAYEC77,
Hello All,

How to get serverSide work with paging?
Trying it with the basic example seems not working.
Got 10 displayed out of 2000+ without any pagination.
Just like in this screenshot.
![missing_paging](https://cloud.githubusercontent.com/assets/11385698/15013090/9a24d4ca-11fd-11e6-8e74-bf51c9b042a0.png)

In advance thanks.

[2016-05-05 07:36] ZAYEC77 commented on #20
Hello, thanks for issue.
@alladas an you provider code that you use?

[2016-05-05 08:48] alladas commented on #20
Hello @ZAYEC77,
Thanks for your answer.
Here is what I have tried. It is a basic setting. Just for testing according to your instructions.
`=== Model ===
public static function find()
    {
        return new ModelQuery(get_called_class());
    }

=== ModelController ===
public function actions() {
    return [
        'datatables' => [
            'class' => DataTableAction::className(),

[2016-05-05 12:18] alladas commented on #20
Hello @ZAYEC77,
After some minor changes in DataTableAction server side is working for me.
Pagination, Search and sort seems now ok.
Posted my changes here: [https://github.com/alladas/yii2-datatables/commit/56dd35c230082fbf181be3c24bcfde944c6831ca](url)
First PR?
Thanks.

[2016-05-06 07:07] alladas commented on #17
Hi @byusufw,
Did you find how to use formatter?
This will make it easier.

[2016-05-06 10:39] #8 closed, assigned to nobody

[2016-05-06 10:40] #16 closed, assigned to nobody

[2016-05-06 10:51] ZAYEC77 commented on #20
Hello, please make pull request if all works fine.

[2016-05-06 11:07] alladas commented on #20
Thanks @ZAYEC77 ,
Ok, I will do that after more tests.
May I have one trivial question data formatting?
Is it possible to use Yii formatter?
I really appreciate your reactivity.

[2016-05-06 11:14] ZAYEC77 commented on #20
@alladas I think it would be implemented by afterAction method in your application (I'm not sure, but think that it can help you to format response data).
It's not very common case for adding to package.
If you implement this, you can add example to README.

[2016-05-06 11:21] ZAYEC77 commented on #20
@alladas also you can use event `afterAction` and modify `result` value.

[2016-05-06 11:23] alladas commented on #20
Yes I tested yesterday with afterFind it worked.
But then, the column get sorted as string.
That is why I wonder if there is a another way .
Also using afterFind leads to many changes since I was already using yii formatter on these fields.

[2016-06-30 07:08] fjqtp commented on #20
Hi All,

pagination still doesn't work for me, all records are shown in table. I noticed that it's fixed when I rearrange 67 and 68-70 lines in DataTableAction.php (sorry not familiar with git to post changes like alladas did, it's about cloning $filterquery AFTER setting offset and limit).

Can you please check if it helps?

[2016-06-30 08:12] alladas commented on #20
Hi @fjqtp ,
Maybe I can help but I am not sure to understand well:

May you post a screenshot?

[2016-06-30 08:16] fjqtp commented on #20
![scr](https://cloud.githubusercontent.com/assets/15140455/16481423/68510fd6-3ed5-11e6-9071-e8dec1f314bf.png)

Please check screenshot. All 32 entries are shown though it says "1 to 10". When I go to 2 page, it shows exactly the same entries here.

[2016-06-30 08:20] ZAYEC77 commented on #20
@fjqtp Hello, do you use dev version?

[2016-06-30 10:21] fjqtp commented on #20
@ZAYEC77 yes.

[2016-08-04 16:20] Setitch commented on #20
I have the same problem, after reading the file and the solution from https://github.com/alladas/yii2-datatables/commit/56dd35c230082fbf181be3c24bcfde944c6831ca i can assure that this solution works. Also this solution two month old, so project owner - commit it, or i dont see any reason for using any further version of your package.

[2016-08-04 16:22] Setitch commented on #19
@alladas - here - my example of sorting|
                 'applyOrder' => function($query, $columns, $order) {
                    //custom ordering logic

[code]

[2016-08-04 16:23] Setitch commented on #14
Im sure he means this: https://github.com/alladas/yii2-datatables/commit/56dd35c230082fbf181be3c24bcfde944c6831ca

[2016-08-04 17:12] ZAYEC77 commented on #20
@Setitch Hello, this commit is the same as master of current repository [DataTableAction.php:71](https://github.com/NullRefExcep/yii2-datatables/blob/master/src/DataTableAction.php#L71)

Ping me if you have any problems.

[2016-08-05 07:20] Setitch commented on #20
Then make a package of it - as if you install the package from composer - its still old one - can you update it then?

[2016-08-05 14:13] ZAYEC77 commented on #20
@Setitch you can use `dev-master`.
But if need I can make new release

[2016-08-07 11:00] ZAYEC77 commented on #20
Hey, guys, can I close this issue?

[2016-08-07 11:01] ZAYEC77 commented on #19
@Setitch can you make PR with your example, if it is correct?

[2016-08-07 11:01] #14 closed, assigned to nobody

[2016-08-07 11:01] #13 closed, assigned to nobody

[2016-08-07 11:54] alladas commented on #19
@Setitch  - Sorry for the delay,
The [built-in applyOrder](https://github.com/NullRefExcep/yii2-datatables/blob/master/src/DataTableAction.php#L100) method is enough for your custom ordering logic.
Meaning you don't need it at all.
I think a custom ordering logic is needed only for non typical cases.
But if you are after a default ordering, you may try this:

[code]

Hope this helps.

[2016-08-07 18:02] Setitch commented on #20
@ZAYEC77 this should already be packaged as stable as it is. On DEV you should only have things that are in development and shouldnt be used on production yet.

[2016-08-07 18:04] Setitch commented on #19
@alladas your example only works for basic sorts, mine works for all basic sorsts (you can even make a dfefault there) also a bit more complex (as im using VIEW not TABLE on which i made a query.

But thanks, didnt knew you could use 'order' as parameter - they are not documented for this plugin.

[2016-08-07 18:10] ZAYEC77 commented on #19
@Setitch  "they are not documented for this plugin" because it's Datatables option
Please, look [docs](https://datatables.net/reference/option/order)
Widget supports every option.

[2016-08-07 18:12] ZAYEC77 commented on #20
@Setitch you a right, please, use new [version](https://github.com/NullRefExcep/yii2-datatables/releases/tag/v1.0.1).

[2016-08-07 18:12] #20 closed, assigned to nobody

[2016-08-07 18:54] Setitch commented on #19
But it might mean (not documented or spoken _) that this plugin do not support them

[2016-08-07 19:36] ZAYEC77 commented on #19
@Setitch I think this section will be enough ([docs](https://github.com/NullRefExcep/yii2-datatables/blob/master/README.md#datatable-options))

[2016-08-09 11:37] Setitch opened #22 "Cannot add other column types"
As in subject

[2016-08-09 12:04] Setitch opened #23 "Once more server side pagination is not working...."
I downloaded the newest package, and that was bad. There were already working code for server side by alladas, i dont know how did you managed to that, but upgrading to yours newest version messed up server side response. [Forking and updating to his code now and packaging, as i cannot allow production servers to stop working due to some not tested upgrades]

[2016-08-09 12:07] ZAYEC77 commented on #23
@Setitch Sorry, I didn't understand, stable version has diff with alladas version?

[2016-08-09 12:11] Setitch commented on #23
Yes, pagination once more didnt worked, and DataTables got all records at once... I now forked your version and added alladas fix and ques what - it works 100% properly.

[2016-08-09 12:12] ZAYEC77 commented on #23
How you get this package? (by composer, or download)

[2016-08-09 12:15] Setitch commented on #23
composer

[2016-08-09 12:16] ZAYEC77 commented on #23
Can you check version of package on your server?
Maybe problem connect with composer cache?

[2016-08-09 12:26] Setitch commented on #23
1.0.1 - sorry i really dont have time for (not now nor in future) to deal with broken packages - already forked, and packaged proper changes, now i fix namespaces and thats all for stability for me.

[2016-08-09 12:44] ZAYEC77 commented on #23
@Setitch okay, but if you want you can make PR to fix this problem

[2016-08-09 12:45] Setitch commented on #23
Sorry, i really do not have time to maintain others packages (nor i can), i already made a fork and working package - i will try to keep with patches you made, but i cannot allow my clients to make ,,composer update'' and from version 1.0.0 to 1.0.1 broke whole application

[2016-08-09 12:48] ZAYEC77 commented on #23
@Setitch I looked to your commits, but didn't see any functional changes of source code, only changes in namespace and readme.
What diff is between our package and your?

[2016-08-09 12:53] ZAYEC77 commented on #22
@Setitch please, give the example of usage widget with custom column types?
How you see this case?

[2016-08-09 12:54] #19 closed, assigned to nobody

[2016-08-09 13:00] Setitch commented on #22
Mostly i need to add details opener, what you can only add are links, which are not exactly enought, i have more than 10 datatables on board, so i need to put something there - like constant string, or similar

[2016-08-09 13:05] ZAYEC77 commented on #22
Please, give the example of usage widget in your code and we can implement this feature.

[2016-08-09 13:21] Setitch commented on #23
Found out the problem, fixed it and pulled here. For now i will use my package, if you fix all, i will switch, but for now i cannot allow any disrupts when i try to hack my way into 4 scripts at once.

[2016-08-09 15:04] Setitch commented on #22
I want to create other ,,rendered'' collumn, but i cannot. The only one rendered is already written and used by that columnclass and thats all....

[2016-08-09 15:09] Setitch commented on #22
Ok, i hacked it around with quite much code but it works^^, its not very nice looking, but you can close it

[2016-08-10 00:06] ZAYEC77 commented on #22
@Setitch you can look example of custom column in [LinkColumn](https://github.com/NullRefExcep/yii2-datatables/blob/master/src/LinkColumn.php).
You have to set `render` properties to you column object.
This properties will be using by [DataTables](https://datatables.net/examples/ajax/null_data_source.html) for rendering.

[2016-08-10 00:06] #22 closed, assigned to nobody

[2016-08-10 00:56] ZAYEC77 commented on #17
I recommend to use custom getters in your models.

[2016-08-10 00:56] #17 closed, assigned to nobody

[2016-08-10 00:57] #18 closed, assigned to nobody

[2016-08-10 01:14] ZAYEC77 commented on #23
@Setitch thanks for PR.

[2016-08-10 01:14] #23 closed, assigned to nobody

[2016-08-10 09:04] Setitch commented on #15
function($query, $columns, $search) {
            //custom <type> logic
            return $query;
         },

Just modify this query, like  $query->join.... and so on.

[2016-08-10 13:21] tigran-k opened #25 "Empty table is generated"
Hi guys,

Thanks for the extension you created. I have just installed it but cannot use it properly.

I have copied following part of code into my index.php file where I generate table with use of GridView widget but your code generates just

 `<table id="w0"></table>`

 without any data in it. Could you please help me?

[code]

[2016-08-10 13:54] ZAYEC77 commented on #25
@tigran-k hello, do you have records in DB table?

[2016-08-10 13:54] ZAYEC77 commented on #25
What version of package do you use?

[2016-08-10 13:58] tigran-k commented on #25
I have records in DB table because Yii2 Gridview widget correctly displays the data on the same page and I use "nullref/yii2-datatables": "~1.0"

[2016-08-10 14:00] ZAYEC77 commented on #25
@tigran-k can you show $dataProvider config?

[2016-08-10 14:02] tigran-k commented on #25
[code]

[2016-08-10 14:03] ZAYEC77 commented on #25
Can you check that `$dataProvider->getModels()` return correct array of records?

[2016-08-10 14:05] tigran-k commented on #25
<?php var_dump($dataProvider->getModels());die; ?> displayed all user data

[2016-08-10 14:06] ZAYEC77 commented on #25
I have work example with ActiveDataProvider:

[code]

Please, try this way.

[2016-08-10 14:07] ZAYEC77 commented on #25
Also I recommend to clear composer cache and update vendors.

[2016-08-10 14:18] tigran-k commented on #25
Sorry to say that it did not helped

[2016-08-10 14:20] ZAYEC77 commented on #25
Try this example:

[code]

[2016-08-10 14:23] tigran-k commented on #25
Here is what It generated:
`<table id="w1" class="table table-striped table-bordered"></table>`

[2016-08-10 14:24] ZAYEC77 commented on #25
What version of php do you use?
Do you have installed all common modules?

[2016-08-10 14:26] tigran-k commented on #25
PHP 5.6.23, Yes and I use advanced version of Yii2

[2016-08-10 14:28] ZAYEC77 commented on #25
Do you have any errors in devtools console?

[2016-08-10 14:30] tigran-k commented on #25
There are no any errors, I can send you my teamviewer details via email if it will help.

[2016-08-10 14:31] ZAYEC77 commented on #25
Yes, sure.

[2016-08-10 15:18] #25 closed, assigned to ZAYEC77

[2016-09-29 12:36] ElijahGM opened #26 "QUERY FROM ARRAY PROVIDER"
I have saved my data as array in the datatable how do i go about rendering my datatable

[2016-09-29 13:20] ZAYEC77 commented on #26
@EsoftsLimited hello, can you give example?

[2016-09-29 14:19] ElijahGM commented on #26
Sorry I am using mongodb to save my data, in one columns i have an array of item (I did not want to create separate table (Collection) for this kind of data because its is dynamic.

The array is a collection of  associative array example

[code]

I want to create a gridview from arrayDataprovider, how do i do this using your plugin?

[2016-09-29 14:21] ElijahGM commented on #26
Secondly on the class DatatableAction you have explicitly used `yii\db\ActiveQuery` and because i am using `yii\mongodb\ActiveQuery`  it cannot be rendered, if i remove the namespace declaration `yii\db\ActiveQuery`  it works, can you update it to make it generic?

[2016-09-29 14:27] ZAYEC77 commented on #26
You don't have to use ActiveQuery, you can set any possible data if you need.

But when you use server-side, it's better to use own action.
It's not possible to rework existing action  (I mean `nullref\datatable\DataTableAction`) for your purposes.
It will be easier to create separate action.

In case, when you don't use server-side, you can set any array of data.

[2016-09-29 14:41] #15 closed, assigned to nobody

[2016-09-29 15:02] ElijahGM commented on #26
Understood, can you show an example of how i will customize server side columns?

[2016-09-29 15:02] ElijahGM commented on #26
Like for status i would like to wrap it up using labels

[2016-09-29 15:12] ZAYEC77 commented on #26
As I can understand you want to set columns labels?

If yes, try this:

[code]

[2016-10-03 13:55] ZAYEC77 commented on #26
@EsoftsLimited did you solve problem?

[2016-10-05 18:36] tplk opened #27 "Delete confirmation doesn't work."
So I'm using this column to display delete action link. But there is no action confirmation when I press it. Custom column with actions in GridView does work though. Any ideas how to fix this? My guess is it's something to do with yii js generation, but I'm not very familiar with framework yet.

[code]

I came up with the following solution btw:

[code]

[2016-10-05 19:31] ZAYEC77 commented on #27
Hello.
Do you have data-confirm attribute in link tag in generated html code?

[2016-10-05 20:55] ZAYEC77 commented on #27
I and get confirm message with this code:

[code]

Maybe you have some other errors in your js.

[2016-10-05 21:55] tplk commented on #27
@ZAYEC77 I do have data-confirm attribute, but it doesn't work.
`<a id="link0" href="/?id=2" data-confirm="Are you sure you want to delete this item?" data-method="post">Delete</a>`
I think it happens because I get data using ajax after page is loaded. Probably need to call a function to bind onClick events after dataTables loads data.
I guess we can close this issue. Thanks for your help.

[2016-10-05 21:58] ZAYEC77 commented on #27
Yes, it can be caused ajax content loading.
But I use code example with server side and it works.

[2016-10-05 21:58] #27 closed, assigned to nobody

[2016-10-05 22:15] ZAYEC77 commented on #27
@t-p-l-k
Also, you can look on my demo project:
https://gitlab.com/nullrefex/app4/blob/master/src/views/site/list.php#L34

[2016-10-05 22:17] tplk commented on #27
@ZAYEC77 thank you!

[2016-11-22 10:05] iomarmochtar opened #28 "Error while installing package"
Hello,

i got the problem when do the installation due datatables asset in bower repository is not found

    - nullref/yii2-datatables v1.0.2 requires bower-asset/datatables ~1.10 -> no matching package found.
    - nullref/yii2-datatables v1.0.1 requires bower-asset/datatables ~1.10 -> no matching package found.
    - nullref/yii2-datatables 1.0 requires bower-asset/datatables ~1.10 -> no matchi

[2016-11-22 10:16] ZAYEC77 commented on #28
Hello, @iomarmochtar.

Thanks for your issue.

I have changed bower dependencies to:
[code]

It should works.

Please, check it.

[2016-11-24 03:55] iomarmochtar commented on #28
Still no luck,

[code]

You may see the list of datatables.net version on https://libraries.io/bower/datatables.net

[2016-11-24 09:07] ZAYEC77 commented on #28
@iomarmochtar do you have installed `fxp/composer-asset-plugin`?

[2016-11-24 11:54] iomarmochtar commented on #28
Sorry i forgot to install it.

the plugin successfully installed.

**thank you.**

[2016-11-24 11:54] #28 closed, assigned to nobody

[2016-11-24 13:45] #26 closed, assigned to nobody

[2016-12-16 12:28] harikrishnanng commented on #25
@ZAYEC77  I'm getting this same issue. How did you solve it?
output => `<table id="w0"></table>`

php vr: 5.6.15
I'm using yii2 advanced latest.

[2016-12-16 12:29] ZAYEC77 commented on #25
Hello @harikrishnanng, maybe you have some errors in js?

[2016-12-16 12:33] harikrishnanng commented on #25
There were some errors with some of the included js files. I tried using renderPartial(). Still nothing works.

[2016-12-16 12:34] ZAYEC77 commented on #25
Datatable could not work when you have problems with other js code.

[2016-12-16 12:37] harikrishnanng commented on #25
There were no errors in when i used renderPartial().

[2016-12-16 12:38] ZAYEC77 commented on #25
could you provider code of widget call?

[2016-12-16 12:43] harikrishnanng commented on #25
Controller :
[code]

View:
[code]

[2016-12-16 12:44] ZAYEC77 commented on #25
which version of plugin do you use?

[2016-12-16 12:47] harikrishnanng commented on #25
Latest from packagist.
v1.0.2

[2016-12-16 12:55] ZAYEC77 commented on #25
okay, I try create working example for you

[2016-12-16 12:59] harikrishnanng commented on #25
ok. Thanks

[2016-12-16 13:21] ZAYEC77 commented on #25
When you use `renderPartial` it doesn't include assets files.

I tried to use `render` and get workable solution.

And check this:
https://github.com/ZAYEC77/dt-test

[2016-12-19 05:38] harikrishnanng commented on #25
@ZAYEC77 Thanks man

[2016-12-21 15:10] harikrishnanng commented on #25
@ZAYEC77 How to add a 'serial no.' column (# 1, 2 3,..) to the table and also some custom columns that are not in the database.?

[2016-12-21 15:25] ZAYEC77 commented on #25
@harikrishnanng you could set any data to display. There are no special columns for it.
Also, you could look default tools from Datatables plugin.

[2017-04-16 07:04] mavelar opened #29 "Bootstrap style, doesnt display as expected in table element"

[2017-04-16 12:58] ZAYEC77 commented on #29
Hello, can you give some code example and screenshot?

[2017-04-16 19:04] mavelar commented on #29
![image](https://cloud.githubusercontent.com/assets/737470/25073481/19b19ca6-22a5-11e7-9e59-63c1a0c1c825.png)

`<?= DataTable::widget([
                        'data' => $dataProvider->getModels(),
                        'info' => false,
                        'columns' => [
                            'id',
                            'name',
                            'email'

[2017-04-17 15:46] ZAYEC77 commented on #29
Did you use this [example](https://github.com/NullRefExcep/yii2-datatables#styling)?

[2017-05-29 21:15] shershennm opened #31 "Wrong bower asset"
Now `bower-asset/datatables.net` links to https://github.com/DataTables/Dist-DataTables , not to https://github.com/DataTables/DataTables

[2017-05-29 21:16] ZAYEC77 commented on #31
Do you have some problems with this?

[2017-05-29 21:21] shershennm commented on #31
Yes. Frontend resources at `src\DataTableAsset` link to non-existent files

[2017-05-29 21:23] shershennm commented on #31
#32

[2017-05-29 21:25] ZAYEC77 commented on #31
Your PR is merged. Check now.

[2017-05-29 21:30] shershennm commented on #31
Thank you for such fast response! All is great now

[2017-05-29 21:31] ZAYEC77 commented on #31
Thank you too.

[2017-05-29 21:31] #31 closed, assigned to nobody

[2017-09-20 11:31] saranvarma opened #34 "Encode field value"
'columns' => [
         'feedback_name',
         'created_by',
         'assigned_to',
          'assignment_activity_status',
          'added_date',
           [
                'class' => 'nullref\datatable\LinkColumn',
                 'url' => ['intandem/view'],
                 'queryParams' => ['id'],               -------------> Here i have to pass encoded id field value.

[2017-09-20 11:34] ZAYEC77 commented on #34
Hello.
Do you want pass id of row?

[2017-09-20 11:39] saranvarma commented on #34
Yes . iam getting 84 as id . But i want to encode that value and pass to url like intandem/view?id=XSD4$56 . But not 84 as id param value

[2017-09-20 11:44] ZAYEC77 commented on #34
Try to use `render` parameter at `LinkColumn` class.
Also, check the source code of this class for [example](https://github.com/NullRefExcep/yii2-datatables/blob/master/src/LinkColumn.php#L35).

[2017-09-20 11:52] ZAYEC77 commented on #34
Something like this:
[code]

[2018-01-19 15:01] yiqiang opened #35 "How to use related table data"
class Order extends ActiveRecord
{
    public function getCustomer()
    {
        return $this->hasOne(Customer::className(), ['id' => 'customer_id']);
    }
}

Now i want to make a datatable to show customer name with order id, how can i do that?

[2018-01-19 17:16] ZAYEC77 commented on #35
Hello, please check this issue https://github.com/NullRefExcep/yii2-datatables/issues/13

[2018-01-19 23:54] yiqiang commented on #35
Thank you for support, but then how to do the ordering as mentioned in the last few comments

[2018-01-20 00:08] yiqiang commented on #13
I think the key step here in the solution is

    public function fields()
    {
        return array_merge(parent::fields(), ['newTitle']);
    }

as i investigated if doing the getModels() as suggested, the related data is not fetched. Any other method to do a neater job, instead of specifying this array_merge?

[2018-01-21 00:49] ZAYEC77 commented on #35
@yiqiang not sure that understand you.
What do you mean?
If you need set some order you can do it in your query.

[2018-01-21 01:20] yiqiang commented on #13
Hi,

Base on flaviofagundes's comment :

@ZAYEC77 i'm trying use a method findBySQL, but order columns and the search don't work

so how to solve this?

[2018-01-22 17:48] ZAYEC77 commented on #13
do you want to use order and search at Datatables?
in this case you need to modify your query in functions `applyFilter` and `applyOrder`.
Please, check readme.

[2018-02-27 06:14] yiqiang opened #36 "Change object to baseObject"
As in php7.2 object is restricted word and causing Fatal error: Cannot use 'Object' as class name as it is reserved, hence we need to change for yii2 version 2.0.13.1

class LinkColumn extends \yii\base\Object

to

class LinkColumn extends \yii\base\baseObject

Please check and update, thank you

[2018-04-03 10:49] ZAYEC77 commented on #36
excuse me for large delay
@yiqiang could you check the updated version?

[2018-04-27 16:12] leandemon commented on #29
Bootstrap tables require the class 'table', so you'll need to add the 'table' class using tableOptions via the widget config. I also had to set the table width to 100% (which may not be necessary, but was in my case).

Example:
[code]

[2018-05-05 07:04] ZAYEC77 commented on #29
@leandemon thanks for the comment
Could you add this notice to readme?
I think it will be useful

[2018-06-28 04:59] akbarkhawaja opened #37 "Error while installing package"
composer require nullref/yii2-datatables gives the following errors:

Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - nullref/yii2-datatables v1.0.4 requires bower-asset/datatables ~1.10.15 -> no matching package found.
    - nullref/yii2-datatables v1.0.3 requires bower-asset/datatables.net ~1.10 -> no matching package found.
    - nullref/yii2-datata

[2018-06-29 08:22] ZAYEC77 commented on #37
Hello @akbarkhawaja
Could you show your composer.json?
Do you use fxp plugin or https://asset-packagist.org/ ?

[2018-06-29 15:10] akbarkhawaja commented on #37
Yes, I am using fxp plugin 1.4.1

[2018-06-29 15:18] akbarkhawaja commented on #37
I cleared composer cache. Updated composer globally, update the fxp plugin to latest 1.4.3 and then attempt again and it worked. The question that is still unanswered, why initially composer was unable to find the matching package.

[2018-07-02 08:10] ZAYEC77 commented on #37
I think it's your local environment issue.

[2018-07-02 08:11] #36 closed, assigned to nobody

[2018-07-12 20:19] tecnoterabyte opened #38 "add actioncolumns (view, update, delete)"
Hi, how can I add the three links in the same column, since with linkcolumn it would be a column for each link.

Thks,

[2018-07-12 21:15] ZAYEC77 commented on #38
I think you could do something like this:
[code]

[2018-07-12 21:16] #37 closed, assigned to nobody

[2018-07-12 21:16] #35 closed, assigned to nobody

[2018-07-12 21:16] #34 closed, assigned to nobody

[2018-07-12 21:18] ZAYEC77 commented on #38
@cjtterabyte
Also, you could create PR with some class e.g. ActionColumn if you wish
it would be great :)

[2018-08-11 09:45] rupalgohel opened #39 "display relational field by using custom column"
I want to display relational field
[code]
how fetch relational field like $model->invoice->invoiceId, current model has relation with Invoice Model

[2018-08-12 23:51] ZAYEC77 commented on #39
Hello @rupalgohel
I think you should use `$data` instead `$model` in your closure:
[code]

[2018-08-13 05:38] rupalgohel commented on #39
` [
                'title' => 'Bill / Invoice No',
                'data' =>   'bookingId',

            ],`

same table field is working here but i need to use its realtional value means
public function getCustomer()
    {
        return $this->hasOne(front::className(), ['customerId' => 'customerId']);
    }
I want to have Customer name from Customer table and it has relation with booking table

[2018-08-13 10:40] ZAYEC77 commented on #39
Hey
Please, check issue #13
If it doesn't help -- notify here

[2018-08-13 10:56] rupalgohel commented on #39
Hello @ZAYEC77 ,

I have to create no of functions for every field.
[code]
It should not be the right way to do.  Can  you suggest me some other way to achive this?

[2018-08-13 13:04] ZAYEC77 commented on #39
I think it's a possible solution.
Beside this, you can try to use `render` attribute to generate js code of column.

[2018-08-13 13:05] rupsk1607 commented on #39
I am not getting your suggestion to render attribute. Can you elaborate plz?

[2018-08-13 13:36] ZAYEC77 commented on #39
Please, read the documentation.

You can use `render` attribute this way.
[code]

but you need to pass data to your model.
You can use `afterFind` method or something like this.

[2018-08-13 13:38] ZAYEC77 commented on #39
But I prefer to implement custom getters for related fields.
This way looks clear.

[2018-08-13 13:40] #38 closed, assigned to nobody

[2018-09-24 15:47] Matvik opened #40 "Error while retriving custom generated field with ajax"
I have extended column configuration like
[code]
And serverSide is set to true.
It is work fine at simple column config, but custom column generates datatables error in alert window `DataTables warning: table id=w1 - Requested unknown parameter '0' for row 0`

[2018-09-24 17:53] ZAYEC77 commented on #40
Hello @Matvik
Maybe you could try solution like this:
[code]

[2018-09-24 17:56] Matvik commented on #40
Yes, but this is only example, and i want to be free when showing data in table, as it is when using regular yii 2 grid view table.

[2018-09-24 18:02] ZAYEC77 commented on #40
We didn't provide syntaxes form your example
Please, check the readme.
If you want some custom stuff, you could implement own class with custom logic.
You could check [LinkColumn](https://github.com/NullRefExcep/yii2-datatables/blob/master/src/LinkColumn.php) as example.

If you think it could be useful for anyone else -- feel free with PR.

[2018-09-24 18:12] Matvik commented on #40
Ok, thank you

[2018-09-24 18:21] ZAYEC77 commented on #40
Sure, your welcome)
Please, close issue, if you don't have others questions.

[2018-09-24 20:08] #40 closed, assigned to nobody

[2019-03-20 05:38] #39 closed, assigned to nobody

[2019-03-20 23:03] williamyiu opened #42 "When do you plan to release your latest with columnFiltering?"

[2019-03-21 08:10] ZAYEC77 commented on #42
what exactly do you mean?

[2019-05-08 14:37] skiiiks opened #43 "Reference the DataTable initialization to a global variable"
Many of the DataTables advanced usage needs to refer to Datatable instance as the variable used to create the object.

In your "run" method, instead of using this:

`$this->getView()->registerJs('jQuery("#' . $id . '").DataTable(' . Json::encode($this->getParams()) . ');');`

you should use this:

`$this->getView()->registerJs('var ' . $id . ' = jQuery("#' . $id . '").DataTable(' . Json::encode($t

[2019-05-08 14:40] ZAYEC77 commented on #43
registerJs wraps code by closure
so you can't access to this var from global space
but you could get instance of Datatable by it id

[2019-05-08 14:50] skiiiks commented on #43
In some cases I've found that when I refer to $("#id") it gives me this error: https://datatables.net/manual/tech-notes/3

Mainly when I'm in actions, init, and other advanced DataTable events.
But when I use the "global variable" (generated with the change I suggested) I have no problems ;-)

I don't know ... it's a unharmful change :-P

[2019-05-08 15:13] ZAYEC77 commented on #43
@skiiiks
Actually, we could provide some additional property for the widget.
e.g.`globalVariable`
What do you think about it?

[2019-05-08 15:20] skiiiks commented on #43
That would be perfect and cleaner ... I used to use the same variable name as the "id" (make sense), but maybe others could need different naming.
;-)

[2019-05-08 15:25] ZAYEC77 commented on #43
could you check my last changes at your environment?
https://github.com/NullRefExcep/yii2-datatables/commit/e5298db7be4a729245ff5083e779e1dfc4f5d3d6

[2019-05-08 15:31] skiiiks commented on #43
Wow !!! I was using the Packagist version and it seems is an old one !!! I don't have DataTableColumn and there's a lot of new code for sorting columns ...  :-D

[2019-05-08 15:56] ZAYEC77 commented on #43
if it works as should I'll release new version asap.

[2019-05-08 15:57] skiiiks commented on #43
As far as I have tested, it's ok ... and I use it hard way , but I'd like to test with the new features I didn't enjoy :-D   please, update packagist and I'll do other tests

[2019-05-08 16:07] ZAYEC77 commented on #43
you could test code from the master branch
you need to use `dev-master` version in your `composer.json` file
https://getcomposer.org/doc/articles/aliases.md

[2019-05-08 18:46] skiiiks opened #44 "Some basic questions of use and problems with the last version"
1) How can I define the HTML attributes for the column cells ?
I mean, if I want to put data-attributes, or css classes, ...

2) How can I define, for example, the orderSecuence in the "aoColumns" DataTable ?

3) In the version you had in packagist, I can set orderable and orderSequence in the columns, now I can't

4) In this code
[code]

how the ordering and search logic works ? Any example, I ca

[2019-05-09 14:00] ZAYEC77 commented on #44
1. this package didn't provide the ability for this feature
2. looks like it's a question at Datatable
3. looks like it's an issue at Datatable
4. https://github.com/NullRefExcep/yii2-datatables#server-side-processing
you could implement ordering and filtering logic by yourself in corresponding functions (`applyOrder` and `applyFilter`)
5. https://github.com/NullRefExcep/yii2-datatables#add-links-

[2019-05-09 14:01] ZAYEC77 commented on #43
@skiiiks do you have a chance to check this feature?

[2019-05-09 14:09] #29 closed, assigned to nobody

[2019-05-09 14:09] #42 closed, assigned to nobody

[2019-05-15 19:33] skiiiks opened #45 "Using 'title' in LinkColumn shows an error"
Hi:

when using 'title' attribute in LinkColumn (to customize the name of the column)

[code]

shows this error:

Unknown Property – yii\base\UnknownPropertyException
Setting unknown property: nullref\datatable\LinkColumn::title

[2019-05-15 20:33] ZAYEC77 commented on #45
@skiiiks I guess caused that you don't have `id` field in your data.
Please, check it.

[2019-05-15 20:38] ZAYEC77 commented on #45
@skiiiks and if you check doc, we used property `label`:
https://github.com/NullRefExcep/yii2-datatables#add-links-to-row

[2019-05-15 20:38] #45 closed, assigned to ZAYEC77

[2019-05-15 20:39] skiiiks opened #46 "Add attributes to each column's cells"
Hi:

I'd like to add some attributes to each column's cells ... I think I have here what you'd need (it's tested and working):

In DatatableColumn.php add another public variable:

[code]

In Datatable.php , at the end of method run():

[code]

So then you can for example add htmlOptions in the columns definition:

[code]

This will generate this:

[code]

[2019-05-15 20:40] ZAYEC77 commented on #44
as a basic example of `applyOrder` and `applyFilter` you could use method at `DataTableAction`:
https://github.com/NullRefExcep/yii2-datatables/blob/master/src/DataTableAction.php#L171
https://github.com/NullRefExcep/yii2-datatables/blob/master/src/DataTableAction.php#L195

[2019-05-15 20:40] ZAYEC77 commented on #46
feel free to create ordinary PR

[2019-05-15 20:42] #44 closed, assigned to nobody

[2019-05-15 20:44] ZAYEC77 commented on #43
I have tested this feature with the last code from master. It works.

[2019-05-15 20:44] #43 closed, assigned to nobody

[2019-05-16 05:18] skiiiks commented on #46
I'm really sorry, but I'm not good enough in git to do that :-D
but I'll try ;-)

[2019-05-16 07:13] ZAYEC77 commented on #46
could you explain why you need this feature?

[2019-05-16 09:49] skiiiks commented on #46
To be able to interact and style the data cells ... it's something doable apart from this plugin, but it would be nice to have it integrated as other things ;-)

[2019-05-16 10:10] ZAYEC77 commented on #46
You could styling columns by CSS selectors e.g. `:nth-child` or other pseudo-classes.
Since as our widget support server-side data fetching, this feature could be difficult to implement for this case.
For your particular case, you could extend our widget class and implement custom logic at your own child class and use it.

[2019-05-16 10:13] ZAYEC77 commented on #46
Also, you could use `nullref\datatable\DataTableColumn` class to implement custom render logic by defining `render` property.
Please, check docs for more info about it.

[2019-05-16 15:26] skiiiks commented on #45
It's not that ... I'm really sorry I didn't paste the whole code, but I'm using "id" in all the column definitions ;-)

I paste it complete:

[code]

[2019-05-16 15:28] ZAYEC77 commented on #45
so, try to update package to last dev-master version, it should works even without id at columns definition

[2019-05-16 15:29] ZAYEC77 commented on #45
remove render and change title to label.

[2019-05-18 13:00] skiiiks commented on #45
But if I need custom "render", can I use it also ?

[2019-05-18 13:12] ZAYEC77 commented on #45
if you use render you don't need label, i guess you understand why )

[2019-05-18 13:33] skiiiks commented on #45
I think there's a misunderstanding ... my problem is not using label/render ... but using "title". What I need is to CUSTOM the title of the column

[2019-05-18 13:34] ZAYEC77 commented on #45
you just need to use label property

[2019-05-18 13:54] skiiiks commented on #45
I think I'm not being clear ... SORRY
The title of the column is the first heading row with the name of the fields ... (name, email, ...)
If I use "label", that does not show what I put ... it shows nothing, clear, empty
If I use "title" (as it is working when you don't use LinkColumn), then it works.

Again, when I'm NOT using LinkColumn class, I can use "title", and what I put in "title" it will

[2019-05-18 13:59] skiiiks commented on #45
Examples:

This shows a column data of "id" values with a heading title: "id"
[code]

This shows a column data of "lastname" values with a heading title: "Apellido"
[code]

This shows a column data of "lastname" values, with a heading title: "Apellido"
[code]

This shows a column data of "idcard" values, with a heading title: "idcard"
[code]

This shows the error written in this original thread
[c

[2019-05-18 14:05] ZAYEC77 commented on #45
ok, now it looks clear, i need check it by myself

[2019-05-18 14:21] ZAYEC77 commented on #45
![image](https://user-images.githubusercontent.com/4509483/57971023-4a94df00-7991-11e9-8262-3c36ca119b70.png)

it works for me this way:
[code]

[2019-05-18 14:35] skiiiks commented on #45
it doesn't for me and I have the latest github repository.
also, please, try it with "data"
try

[code]

or even

[code]

[2019-05-18 15:08] ZAYEC77 commented on #45
Try to update package one more time
As an additional example, you could check my project:
https://github.com/ZAYEC77/cat-with-eav

[2019-05-18 15:58] ZAYEC77 commented on #46
@skiiiks
Please, check new version of the package:
https://github.com/NullRefExcep/yii2-datatables/releases/tag/v1.1.0

I'll add property `sClass` to have ability to pass CSS class for the column cells.

[2019-05-18 15:58] #46 closed, assigned to ZAYEC77

[2019-05-21 07:40] AFSIDD opened #48 "Unknow column name"
Setting unknown property: nullref\datatable\DataTableColumn::name

'columns' => [
                                    'consumer',
                                    [
                                        'data'  => 'branchName',
                                        'title' => "Branch Name",
                                        'name'  => 'branchId'
                                    ],

[2019-05-21 07:48] ZAYEC77 commented on #48
we didn't support property `name`, please check readme

[2019-05-21 08:40] AFSIDD commented on #48
It worked with the previous version, although i get your point that you never supported name property before also.
Is there a work around?

[2019-05-21 08:55] ZAYEC77 commented on #48
you could try to add `class` property to your column definition:
[code]

[2019-05-21 09:02] ZAYEC77 commented on #48
I guess we have this exception at old version too, but you could check it to download v1.0.4.
We have "magic" __set/__get for DataTable class but it was never for DataTableColumn.

[2019-05-21 09:05] AFSIDD commented on #48
Nope, adding class doesn't help also, i will try going back to 1.0.4 and recheck.

Thanks.

[2019-05-21 09:05] #48 closed, assigned to ZAYEC77

[2019-05-30 14:59] coderovich opened #49 "Bug in the last release"
After last update class DataTable starts throw exception:
throw new InvalidConfigException(get_class($this) . '::$data must be set.');

[2019-05-30 16:04] ZAYEC77 commented on #49
@coderovich
please add the code of the widget usage.

[2019-05-30 19:24] coderovich commented on #49
sure. it's the same as for 1.0.4 version:
`DataTable::widget([
                            'data'         => $provider->getModels(),
                            'tableOptions' => ['class' => 'table table-bordered table-striped dataTable'],
                            "pageLength"   => 25,
                            'autoWidth'    => false,
                            'order'        => [],

[2019-05-31 13:18] ZAYEC77 commented on #49
@coderovich could you provide all stack trace?

[2019-06-01 08:40] coderovich commented on #49
yep:
Error: Class 'nullref\datatable\InvalidConfigException' not found in ..\vendor\nullref\yii2-datatables\src\DataTableColumn.php:68
Stack trace:
#0 ..\vendor\yiisoft\yii2\base\BaseObject.php(109): nullref\datatable\DataTableColumn->init()
#1 [internal function]: yii\base\BaseObject->__construct(Array)
#2 ..\vendor\yiisoft\yii2\di\Container.php(384): ReflectionClass->newInstanceArgs(Array)
#3 ..

[2019-06-01 13:30] ZAYEC77 commented on #49
@coderovich
Sorry, but I can't reproduce this issue at my local env.
Please, try to run my [demo project](https://github.com/ZAYEC77/cat-with-eav).
The route to Datatables demo: `/product/default/datatable`.
View file path: `src/modules/product/views/default/datatable.php`.

[2019-06-01 15:40] coderovich commented on #49
i found the stumbling block. Error happens when column property has dynamic item rendered via callback without 'data' property :
[code]

[2019-06-01 15:40] coderovich commented on #49
so what's reason to require 'data' property in custom column? In case while this column - is concated string from mixed data and does not have an particular data-provider.

[2019-06-08 22:20] ZAYEC77 commented on #49
@coderovich You are totally right, I don't even know why we miss this case before, sorry for that :(
Please, try the latest version from dev-master.
It should resolve this problem.

[2019-06-17 08:05] williamyiu opened #50 "sClass vs className"
With your release of 1.1.0, I noticed that you are using sClass, however, the official datatable field is className which I have used in 1.0.4.

Here is a reference:
https://datatables.net/reference/option/columns.className

Please advise.

Thanks

[2019-06-17 13:07] ZAYEC77 commented on #50
I guess using `className` could make some confusion because we have `className` method at Yii2.
Filed `sClass` works with Datatables version 1.10.19.
While this property will be work, I guess it's better to use it.
If you have some problems with it, you could try to use version 1.0.4 if you don't have any issue with it.

In another case, we could discuss changing this property at next version.

[2019-06-17 13:08] #49 closed, assigned to nobody

[2019-06-17 13:50] coderovich commented on #49
everything is ok now. Thanx for fix and sorry for my long reply.

But i think that in the next major versions it would be more convenient to do new class e.g. "nullref\datatable\CustomColumn" where 'data' column will not be. Following this, you can return required 'data' attribute to DataTableColumn.

[2019-06-17 16:49] ZAYEC77 commented on #49
If you think that it will be useful -- feel free to create PR.

[2019-07-23 06:07] ChristophFoerste opened #52 "Column Definitions do not work after upgrade to 1.1.0"
Hi and thank you for your awesome work!

I recently upgraded to the latest version of your widget and recognized that some column definitions I was using before do not work any longer. In detail: "type", "searchable", "sortable", "width", "visible" and I do not find out how to make it work again.

Please find some code (the commented  sections do not work, one defintion as example).

        'titl

[2019-07-23 07:18] ChristophFoerste commented on #52
Seems to work if the defintions are moved to "columnDefs"-attribute within the widget-options.

                   ['targets' => 0, 'width' => 90,  'searchable' => true,  'type' => 'num',    'sortable' => true,  'visible' => true,]
]

[2019-07-23 22:14] ZAYEC77 commented on #52
Hello @ChristophFoerste
could you check which version of Datatables did you use?

[2019-07-28 19:08] skiiiks opened #53 "How can I refer to custom functions and related data in model ?"
Hi:
I'm using last version (1.1.0)
I need to do a custom render of a field, using 2 variables of the model, and one function of the model ... how can I do it ?

I've tried with QueryParams but I think this works only with LinkColumn, not with DataTableColumn...

in my view:
[code]

in my model:
[code]
I've tried also with getAge() as function name.

There are twi problems; (althought the console.l

[2019-07-29 01:44] skiiiks commented on #53
Hint... in the console log I see two groups:
1) first group of output showing the console.log(row) output with all the data
2) then a second group of output with just name values (all other values are undefined)

[2019-07-29 01:54] skiiiks commented on #53
Ok, the problem is that when using serverSide, the variable $columns just have the columns defined in the DataTable::widget, and not include the "queryParams" (extra data used for some columns), therefore the DataTableAction init function does not receive all the columns to build the rows

[2019-07-29 09:27] ZAYEC77 commented on #53
hello @skiiiks
could you show your source code?

[2019-07-29 11:04] skiiiks commented on #53
I pasted it in the original message.
Anyway, if you take your example code in the Readme it happens the same ... when you use serverSide, you can not refer to other variables or other model functions.

[2019-07-29 11:06] skiiiks commented on #53
But don't worry ... and don't offend, but this is too difficult when you want custom cells with other data from the model  ... I think i'm going to move to krajee gridview :-(

[2019-07-29 14:39] ZAYEC77 commented on #53
in your case of method `age`, you should rename the method to `getAge` to have property `age` at your model.

[2019-07-29 14:49] ZAYEC77 commented on #53
If you used `render` you could use `row` argument that contains all data for a particular row.

[2019-07-29 14:52] ZAYEC77 commented on #53
If you have an issue with serverSide, you could redefine `formatData` at DataTableAction to add custom columns.

[2019-07-29 15:14] skiiiks commented on #53
Hi @ZAYEC77
Thank you for your response

As I told in the original message I've tried also with getAge() as function name. But it does not work. It does take nothing from the model EXCEPT the variable name you put in the 'data' attribute.

An as I told in the original message too, the "console.log(row)" shows me (in the console, obviously) ALL the data of the row (as you told), but it's the "secon

[2019-07-29 15:30] skiiiks commented on #53
Yes, I know I can do it ... but need more powerful yet, and for this project I can not invest more R+D ... I will come back soon to do it and provide a pull request, but can't now :-(

[2019-07-31 19:39] ChristophFoerste commented on #52
Sorry for the late reply.

I am using 1.10.19 of DataTables. The error was thrown in "DataTableColumn" class of your widget, stating the the attribute for "width" does not exist.

I do not have more details, because I am on the road right now.

Kind regards
Chris

[2019-08-01 10:05] ZAYEC77 commented on #52
I guess, we didn't support attributes like "searchable", "sortable", "width", "visible" even before.
But if I'm wrong, please check the previous version of the package and notify me which version works correct.

[2019-08-01 11:53] ZAYEC77 commented on #53
@skiiiks
I have added `extraColumns` property
Please, check readme to more info

You coud check additional example [here](https://github.com/ZAYEC77/cat-with-eav/blob/master/src/modules/product/views/default/datatable.php)

[2019-08-07 09:10] nrob81 opened #54 "filter with multiple tables in one page"
Hello,

I have multiple tables in one page and my row filtering won't works.
Wth one table, its working.

the error i get in console is:
TypeError: preSearch[column] is undefined   jquery.dataTables.js:9072:6

[2019-08-07 13:32] ZAYEC77 commented on #54
hello @nrob81
please provide part  of source code where you call datatables widgets

[2019-08-08 07:39] nrob81 commented on #54
[code]

[2019-08-08 09:16] ZAYEC77 commented on #54
Thanks, I'll try to reproduce it
It will be useful if you could add full stack trace of JS error from console

[2019-08-09 10:02] nrob81 commented on #54
[code]

[2019-08-16 11:22] yanhuixie opened #55 "input box tr of filter may not be rendered"
Hi @ZAYEC77 , thanks for your awesome plugin, it helps a lot.
We are using server-side mode, anything works like a charm excepts the filter.
We set the withColumnFilter=>true but no filter was rendered, and we have just debugged the code, and noticed something strange.
Please see https://github.com/NullRefExcep/yii2-datatables/blob/master/src/DataTable.php#L206
L206 - L216 not executed because no

[2019-08-16 18:16] ZAYEC77 commented on #55
Hello @yanhuixie
Thanks for your request and additional information, I'll try to resolve this issue at next week

[2019-08-21 23:24] ZAYEC77 commented on #55
Hey @yanhuixie
Could you provide source code of calling widget because I can't reproduce this issue?
Please, check my examples [here](https://github.com/ZAYEC77/cat-with-eav/blob/master/src/modules/product/views/default/datatable.php).

[2019-08-21 23:26] ZAYEC77 commented on #54
Hey @nrob81
Sorry, but I can't reproduce this kind of issue with last dev-master version.
Also, I found another issue connected with multiple tables with filters on one page.
Please, check my examples [here](https://github.com/ZAYEC77/cat-with-eav/blob/master/src/modules/product/views/default/datatable.php).
If you still have an issue, please contact me, we try to resolve it individually.

[2019-08-22 03:04] yanhuixie commented on #55
Hi~ @ZAYEC77 Is this code snippet OK?
[code]
[code]

[2019-08-24 20:46] ZAYEC77 commented on #55
Hey @yanhuixie 👋
Try to remove `'scrollY' => false,` property.

[2019-09-25 16:02] embula opened #56 "Number of Rows per page & Download functionality"
1. How can I increase the number of rows per page say 1000,10000 or All records per page
2. How do I configure download and print function

[2019-09-25 18:50] ZAYEC77 commented on #56
any suggestions at DataTable docs?

[2019-10-16 08:20] YevhenIvanovych commented on #53
Hello,
I am sorry, but the principle of "extraColumns" and its ability to use is not clear from the above example.
Please, specify a small but more detailed example in the description for receiving "serverSide" data.

[2019-10-21 09:49] ZAYEC77 commented on #53
extraColumns -- it's a list of columns that you could use inside other columns.

e.g.
[code]

it means that I could use column `id2` inside some render functions, like this:
[code]

[2019-11-28 23:58] adantart opened #57 "extraColumns and serverSide does not get along well"
Hi!
Amazing package ;-)
I've tried to activate the serverSide but the datatables action ajax call gives me an error:

Unknown column 'columnNameSpecial' in 'order clause' The SQL being executed was: SELECT * FROM `client` ORDER BY `columnNameSpecial` LIMIT 10"

being "columnNameSpecial" one of the "extraColumns" I have declared in the widget.

When you use extraColumns to put enhanced information,

[2019-11-29 00:43] adantart commented on #57
Ok, I found some things ...

I have realized I have to add the extraColumns ALSO in the "datatables" action in the Controller. That's ok ... but I don't understand the example you put here: https://github.com/NullRefExcep/yii2-datatables#extra-columns

1) you put in the widget configuration the extraColumn array (customPrice)
2) you put in the "datatables" action the same extraColumn array (custom

[2019-11-29 11:39] ZAYEC77 commented on #57
Hey @adantart
My example is general, you don't need to put `extraColumns` to widget and column config at the same time.
If we are using `render` we can skip the `data` attribute. We have `data` argument in a render function that has all the properties of a particular row.
Extra columns -- it's a way to define some additional data properties, that are not defined in the database or don't mention at

[2020-01-13 08:27] jackkusuma opened #58 "custom value"
Hi!
Amazing package ;)

I've tried to activate the serverSide but i don't know custom value in column widget when i use code

[
       'data' => function ($model){
           return date_formate(date_created($model->time_created,"Y-m-d"));
        },
       'title' => \Yii::t('app', 'date'),
       'filter' => ['true' => 'Yes', 'false' => 'No'],
],

that not working, so how to use that if i want t

[2020-01-15 17:21] ZAYEC77 commented on #58
Hello, where did you see such code?
`data` property at `DataTableColumn` could be only the string

[2020-01-17 03:52] jackkusuma commented on #58
okay

[2020-01-17 03:52] #58 closed, assigned to nobody

[2020-02-18 10:05] hasbi001 opened #59 "send parameter"
Hallo Friend,
thank you for your extension.
i have a custom filter for datatable but i don't know to send parameter in your action. so how i can send my parameter in ajax server side datatable?
please help me..

[2020-02-20 15:50] YevhenIvanovych commented on #53
Ok.
And how to join the data of several separate tables?

[2020-02-21 06:44] dmytrokarpovych commented on #59
Hello, I'm not sure that we have solution out of box, but I'll try to looking for it during next few days

[2020-02-21 06:48] dmytrokarpovych commented on #59
did you try to use `applyFilter` inside `nullref\datatable\DataTableAction`?

[2020-02-21 08:07] hasbi001 commented on #59
@dmytrokarpovych thanks for the response but I'm not sure if I try to applyFilter function because I will apply it on another page and another filter. so how i do that?

thank you

[2020-02-26 06:30] hasbi001 commented on #59
hallo @dmytrokarpovych,
can you give me example for use applayFilter and applyOrder ?
thank you

[2020-02-28 09:48] ZAYEC77 commented on #53
You could use any custom query that you need.
In the case of `DataTableAction` you have `query property.

[2020-03-03 21:06] ZAYEC77 commented on #59
could you describe your page?
what do you have on it except datatable?

[2020-03-06 02:52] hasbi001 commented on #59
on that page there is a search form and table then in the search form there are several fields based on the columns in the table then when pressing the search button the table will update according to the fields that are filled

[2020-03-06 03:05] hasbi001 commented on #59
Hi @ZAYEC77,
thank you for your response.
so on the page, there is a search form and table then in the search form there are several fields based on the columns in the table then when pressing the search button the table will update according to the fields that are filled

[2020-03-09 22:21] ZAYEC77 commented on #59
Hey, sorry for the delay
Please, check this commit:

https://github.com/ZAYEC77/cat-with-eav/commit/8874b1b270f1db2369eed64b8a684c1292acc4b1

I have added a small example for you

[2020-03-10 06:50] hasbi001 commented on #59
Hi @ZAYEC77 ,
thank you for helping me
I will try and follow from the example that you have made

[2020-03-10 07:03] hasbi001 commented on #59
Hallo @ZAYEC77, I am sorry before.
previously I followed the steps below, as explained in the documentation

public function actions()
{
    return [
         'datatables' => [
             'class' => 'nullref\datatable\DataTableAction',
             'query' => Model::find(),
             'applyOrder' => function($query, $columns, $order) {
                //custom ordering logic
                $

[2020-03-10 11:21] ZAYEC77 commented on #59
My example works based on SearchModel.
If you have a form on your page and use a model for it -- you could use this implementation.
If you want to add some special filtering logic, you could use `applyFilter` function at `DataTableAction`.
Default implementation of `applyFilter` works with filters from DataTables plugin.

[2020-07-13 08:32] serhiivinichuk opened #60 "Add validation for order parameters"
From email:

[2020-07-22 15:50] ZAYEC77 commented on #60
I'll be very glad to see PR for this issue.
Unfortunately, I can't do it by myself now.

[2020-07-25 23:29] paskuale75 opened #61 "extraColumns in action issue"
in the documentation there is an example where you add the extraColumns element in the action, but I get this error

`Setting unknown property: nullref\datatable\DataTableAction::extraColumns
`
why ? Thanks

[2020-07-25 23:41] paskuale75 commented on #61
old repo version, solved with upgrade, thanks

[2020-07-25 23:41] #61 closed, assigned to nobody

[2020-07-26 10:39] paskuale75 opened #62 "extraColumn issue"
extraColumn array in applyOrder works like a charm but not in applyFilter() function, in _array($schema) conditions .. it seems to me that is the cause.

[2020-07-26 19:44] paskuale75 commented on #62
applyFilter structure seems to be formed like below:
[code]

[2020-07-26 19:44] #62 closed, assigned to nobody

[2020-07-27 11:29] ZAYEC77 commented on #62
So, does it work for you now?

[2020-10-15 12:57] ledniczkyrobert opened #63 "Can I use Buttons (print, excel, etc.)?"
Adding
` 'dom' => 'Bfrtip',
    'buttons' => [
       'print'
    ],`

not working

[2020-10-15 17:10] ZAYEC77 commented on #63
Hey 👋 @ledniczkyrobert
Could you give a full example?

[2020-10-16 06:58] ledniczkyrobert commented on #63
Yes, a working example in a view (except for the print button):

`<?= \nullref\datatable\DataTable::widget([

    'data' => $dataprovider->getModels(),
    'tableOptions' => [
        'class' => 'display cell-border',
    ],
    'paging' => false,
    'dom' => 'Bfrtip',
    'buttons' => [
      ['extend' => 'print'
      ]
    ],
    'columns' => [
        [
            'data' => 'id',

[2020-10-17 21:32] ZAYEC77 commented on #63
Looks like custom stuff.
I guess you should create a new `AssetBundle` that adds files that you need.
Feel free to create PR for this repo if you wish.

One more option is to override the default asset bundle.
Please check the readme section about it: https://github.com/NullRefExcep/yii2-datatables#custom-assets

[2020-11-12 21:08] Jonston opened #64 "yii2 datatables style settins problem."
I'm trying to connect bootstrap styles to a widget in settings web.php
[code]
but i get:
`Fatal error: Uncaught Error: Class 'nullref\datatable\assets\DataTableAsset' not found`
What i am doig wrong.
Help plz.
Thank you!

[2020-11-13 12:55] ZAYEC77 commented on #64
Hey 👋
did you install `yii2-datatables` package?

[2020-11-13 12:56] ZAYEC77 commented on #63
🤷‍♂️

[2020-11-13 12:56] #63 closed, assigned to nobody

[2020-11-13 12:57] ZAYEC77 commented on #59
🤷‍♂️

[2020-11-13 12:57] #59 closed, assigned to nobody

[2020-11-16 12:45] Jonston commented on #64
Of course.And it work.But i have this problem.

[2020-11-17 07:57] ZAYEC77 commented on #64
And do you have files in your vendor folder?

[2020-11-17 08:16] Jonston commented on #64
Composer packages are installed there.Including yii2 datatables.Project configurations are loaded before the Yii application is initialized in `web/index.php`.
[code]
That's why auto-loading doesn't work.

[2020-11-17 10:22] ZAYEC77 commented on #64
So, is your issue resolved?

[2020-11-17 16:07] Jonston commented on #64
How do I fix this error?The documentation says about require boostrap styles, but it turns out that the documentation is incorrect?

[2020-11-17 22:30] ZAYEC77 commented on #64
maybe the problem is in your config / autoloading?

[2021-01-11 22:40] hasbi001 commented on #59
Hallo @ZAYEC77 thank you for response.

[Solve] I custom my filter function to apply in applyFilter function and add parameter in ajax data.

thank you

[2021-11-24 17:51] hoaaah commented on #64
Docs are correct actually. Use this package ini bootstrap 4 and it works like charm.
My config:
[code]

[2021-11-30 21:04] ZAYEC77 commented on #64
Looks like issue is resolved :)

[2021-11-30 21:04] #64 closed, assigned to nobody

[2022-07-05 09:08] Radon8472 opened #66 "Add bootstrap 4 support"
Current Yii2 template uses bootstrap4 and so you get the error `Failed to instantiate component or class "yii\bootstrap\BootstrapAsset"`.

You can change this in `DataTableBootstrapAsset.php` when you replace the line

[code]

with

[code]

Unfortunalle there is no bootstrap 4 in `@bower/datatables-plugins/integration/bootstrap` and I the source repo of [bower-asset/datatables-plugins](https://ass

[2022-07-06 10:10] ZAYEC77 commented on #66
I'm not sure that we have free cycles for this right now
@Radon8472 feel free to create PR 🙏

[2022-07-06 14:07] Radon8472 commented on #66
I already tested some possible solutions, I try to create a PR over the next weekend

[2022-07-10 12:34] Radon8472 commented on #66
@ZAYEC77  Pull Request is created see #67

[2022-07-12 07:59] #66 closed, assigned to nobody

[2022-08-15 14:56] Radon8472 commented on #52
I have similar problems, I a already working on a bugfix for this.

[2022-08-18 14:51] Radon8472 commented on #52
I found the problem...

Before 41c2ee8 all custom config was silently passed to DataTables js-config.
In 41c2ee8 `DataTableColumn` was added, and all custom config properties are passed to this class, which currently only supports a few of the properties that DataTables supports.

What results in errors like this:

[2022-08-24 21:38] #52 closed, assigned to Radon8472

[2022-10-07 11:00] Radon8472 commented on #50
@williamyiu Is the answer okay for you, or is there anything todo for this issue?

[2022-10-07 11:06] Radon8472 commented on #53
Is this issue solved and can be closed ?

[2022-10-07 11:30] ZAYEC77 commented on #53
yeah, good point

[2022-10-07 11:30] #53 closed, assigned to nobody

[2022-10-28 14:33] williamyiu commented on #50
Yes, thank you

[2022-10-28 14:33] #50 closed, assigned to williamyiu